
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/JS/Scripts.js"></script>
    <script src="~/JS/directives.js"></script>
    <script src="~/JS/app.js"></script>
    <script src="~/JS/controllers.js"></script>
    <script src="~/JS/directives.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body ng-app="demoapp" ng-controller="MyCtrl" class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Github</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav"></ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" placeholder="seacrh user.." autofocus ng-model="searchKey">

                        </div>
                        <button type="submit" class="btn btn-default" ng-click="Search(searchKey)">Search</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Git User Information
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img ng-src="{{User.avatar_url}}"
                                     width="150" />
                            </div>
                            <div class="col-md-8">
                                <div>Name:{{User.login}}</div>
                                <div>Location:{{User.location}}</div>
                                <div>Contact:<a href="{{User.blog}}">{{User.blog}}</a></div>

                            </div>
                        </div>
                        <div ng-include="'UserProjectInfo'"></div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-7">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        All Json Information
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {{User | json}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </body>
</html>
