
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserRepo</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <table class="table-bordered">
        <thead>
            <tr>
                <th class="active">Project Name</th>
                <th class="active">Programming Language</th>
            </tr>
        </thead>
        <tbody ng-repeat="data in repository">
            <tr class="success">
                <td class="text-primary">{{data.name}}</td>
                <td class="text-danger">{{data.language}}</td>
            </tr>
        </tbody>
    </table>

</body>
</html>
